.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
.left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.left span {
  color: tomato;
  font-weight: bold;
  font-size: 20px;
}
.search {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  gap: 10px;
  font-weight: 500;
}
.search input {
  border: none;
}
.right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
